<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @cocktail.name %></h1>
      <h4>List of Ingredients</h4>
       <% @cocktail.doses.each do |dose| %>
        <ul>
          <li>
          <%= dose.ingredient.name %>
          <%= dose.description %>
          <%= link_to 'Delete ingredient', dose_path(dose), method: :delete, class: 'btn btn-info' %>
           </li>
        </ul>
      <% end %>
      <%= link_to 'Add ingredients', new_cocktail_dose_path(@cocktail), class: 'btn btn-info' %>
      <%= link_to 'Back to cocktail list', cocktails_path, class: 'btn btn-secondary' %>
      <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Do you really want to delete this cocktail?" }, class: 'btn btn-danger ml-8' %>
    </div>
  </div>
</div>
